
/* MAIN PAGE */
#main-header {
    background-image: url(../img/mars\ 2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 800px;
}
/* COUNTER  */
#demo{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 76px;
    padding-top: 250px;
    border-bottom: #000 3px solid;
    
}

.dark-overlay {
    background: rgba(0, 0, 0, 0.2);
    min-height: 800px;
}

/* HEADER FOR THE MISSION PAGE*/
#mission-section {
    background-image: url(../img/mars-mission.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    height: 600px;
}

#the-mission-phases {
    background-image: url(../img/Astronaut.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
   
}


.card-title {
    border-bottom: 4px solid #ffa500;
}
/* THE MISSION WATCH LIVE */

#watch-live {
    background-image: url(../img/spacex-Rocketlaunch.jpg);
    background-size: cover;
    min-height: 600px;
}


#mars-booking {
    background-image: url(../img/international-space-station-1176518_1280.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

#mars-booking-form{
    background-image: url(../img/airport-594208_1920.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

#name-to-mars{
    background-image: url(../img/guille-pozzi-sbcIAn4Mn14-unsplash.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;

}

/* MODAL FOR MAIN PAGE */
#myModal{
    color: #000;
}

/* FOOTER */
#main-footer{
    background-color:#000;
    color: #fff;
}

#main-footer a{
    color: #fff
}



