
/* MAIN PAGE */
#main-header {
    background-image: url(../img/mars\ 2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 800px;
}
/* COUNTER  */
#demo{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 76px;
    padding-top: 250px;
    border-bottom: #000 3px solid;
    
}

.dark-overlay {
    background: rgba(0, 0, 0, 0.2);
    min-height: 800px;
}

/* HEADER FOR THE MISSION PAGE*/
.carousel-item{
    min-height: 400px;
}

.carousel-image-1 {
    background: url(../img/Astronaut.jpg);
    background-size: cover;

}

.carousel-image-2 {
    background: url(../img/Perseverance.png);
    background-size: cover;
   

}

.carousel-image-3 {
    background: url(../img/spacex-Rocketlaunch.jpg);
    background-size: cover;

}
/* THE MISSION SECONDARY HEADER */
#four-goals-header{
    background: url(../img/orange-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#four-goals{
    color: #fff;
    
}
/* THE MISSION FOUR GOALS IMAGES  */

.img-1, .img-2, .img-3, .img-4{
    border-right: #000 3px solid;
}
.img-1{
    background: url(../img/life.jpg);
    background-size: cover;
    min-height: 300px;
    position: relative;
}

.img-2{
    background: url(../img/climate.jpg);
    background-size: cover;
    min-height: 300px;
    position: relative;
}
.img-3{
    background: url(../img/geology.jpg);
    background-size: cover;
    min-height: 300px;
    position: relative;
}
.img-4{
    background: url(../img/human\ exploration.jpg);
    background-size: contain;
    min-height: 300px;
    position: relative;
    
}
/* MARS ROVER 2020 IMAGE CARD */

.mars-2020{
    background: url(../img/Mars\ 2020\ Perseverance\ Rover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color:#000;
    min-height: 400px;
    border-right: 3px solid #fff;

}

.orange-background{
    background: url(../img/orange-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color:#000;
    min-height: 400px;

}
.card-body{
    opacity: 0.75;
}

/* THE MISSION WATCH LIVE */

#watch-live{
    background-image: url(../img/spacex-Rocketlaunch.jpg);
    background-size: cover;
    min-height: 600px;
}
/* PREPARATION PAGE HEADER */

#preparation-header, #mars-rover-toolkit, #training{
    border-bottom: 3px #000 solid;
}

/* MARS ROVER 2020 INFROMATION */

}










/* MODAL FOR MAIN PAGE */
#myModal{
    color: #000;
}

/* FOOTER */
#main-footer{
    background-color:#000;
    color: #fff;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');